

<header class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <div class="navbar-header">


                <ul class="nav navbar-nav">
                    <li>
                          <!--sidebar menu-->
                    <a ng-click="toggleSidebarStatus()">
                        <span class="glyphicon glyphicon-align-justify"></span>
                    </a>
                    </li>
                    <li>
                    <a ui-sref="public.home" role="button" class="navbar-brand">
                        Beauty Map <i class="fa fa-map-o fa-1x"></i>
                    </a>
                    </li>
                </ul>
            </div>
            <!--/.navbar-header -->
        </div>
    </div>
</header>