<!doctype html>
<html lang="en"><head>
	<script src='//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.min.js'></script>
	<script src='assets/js/modules/head.min.js' data-headjs-load='assets/js/core/init.js'></script>
	<title update-page-title></title>
</head>
<body class="ng-cloak">
    <div id="wrapper" sidebar-directive="sidebarStatus">
        <div ui-view="sidebar"></div>
        <div ui-view="header"></div>
        <div id="main-content" ui-view="main_body"></div>
        <div ui-view="footer"></div>
    </div>
</body>
</html>